body {
    background-color: sandybrown;
}

p {
    border: 2px solid black;
    width: 10px;
    height: 10px;
}

.header {
    font-size: 4em;
    color: white;
    text-align: center;
    margin: 1em;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1000px;
}